%h1= @team.name

.active-members
  = @team.active_members

- if allowed_to?(:destroy?, @team)
  = link_to t('shared.actions.delete'), team_path(@team), method: :delete, data: { confirm: t('shared.are_you_sure') }
