.mb-1
  = link_to path, class: 'text-sm text-gray-400 hover:text-pink-500 transition' do
    .inline-flex.items-center
      .flex-auto
        %svg.h-4.w-4{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M15 19l-7-7 7-7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
      .flex-auto.ml-2= name
