.bg-white.shadow.rounded-lg
  .px-4.py-5.sm:p-6
    %svg.text-pink-300.w-16.mx-auto{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
      %path{d: "M13 7h8m0 0v8m0-8l-8 8-4-4-6 6", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "2"}
    .text-center
      .my-4.text-sm.text-gray-500
        - if stats_ready?
          = t('.your_at_position_in_global_ranking')
        - else
          = t('.no_stats_available_yet')
      .mt-8
        = link_to t('shared.teams'), teams_path, class: 'inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-pink-700 bg-pink-100 hover:bg-pink-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 sm:text-sm'
