.bg-white.shadow-xl.rounded-lg.border-2.border-pink-300
  .px-4.py-5.sm:p-6
    .icon
      = icon
    .text-center
      .description.my-4.text-sm.text-gray-700
        = description
      .link.mt-8.text-center
        = link
