%div{ data: { controller: 'game-stats', 'game-stats-stats-open-value': false, 'game-stats-stats-loaded-value': false, 'game-id': @game.id } }

  .game-stats-content.my-10{ data: { 'game-stats-target': 'statsContent' } }

    .game-stats--bets-count.mb-8
      %h3.text-center= t('.bets_by_outcome')
      = render BetOutcomeComponent.new(game: @game)

    .game-stats--bets-stats
      %h3.text-center= t('.bets_by_scores')
      %div{ id: bets_stats_element_id }
        .animate-pulse.text-center.mb-4
          .text-xs= t('shared.loading')

  .game-stats-navigation
    %button.w-full{ data: { action: 'click->game-stats#toggleStats' }, 'aria-controls': 'game-stats' }
      / chevron UP
      %svg.mx-auto.h-6.w-6.text-gray-500{fill: 'none', stroke: 'currentColor', viewbox: '0 0 24 24', xmlns: 'http://www.w3.org/2000/svg', data: { 'game-stats-target': 'closeStatsButton' } }
        %path{d: 'M5 15l7-7 7 7', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', 'stroke-width': '2'}
      / chevron DOWN
      %svg.hidden.mx-auto.h-6.w-6.text-gray-500.hover:text-black.transition{fill: 'none', stroke: 'currentColor', viewbox: '0 0 24 24', xmlns: 'http://www.w3.org/2000/svg', data: { 'game-stats-target': 'openStatsButton' } }
        %path{d: 'M19 9l-7 7-7-7', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', 'stroke-width': '2'}
