.invitation-link{ data: { controller: 'invitation-link' } }
  = label_tag :invitation_link, t('.invitation_link'), class: 'invitation-link--label'
  .mt-1.flex.rounded-md.shadow-sm
    = text_field_tag :invitation_link, @invitation_link, class: 'invitation-link--input-field', data: { 'invitation-link-target': 'linkInput' }
    %button.invitation-link--button{ data: { action: 'click->invitation-link#copyToClipboard', 'invitation-link-target': 'button' } }
      = t('.copy')
  .invitation-link--copied.invisible{ data: { 'invitation-link-target': 'copied' } }
    = t('.copied')
