.team.flex.mb-8.px-4.py-8.border.rounded-lg
  .team--name.w-full
    = link_to @membership_of_user.team.name, team_path(@membership_of_user.team)
  .team--ranking-position.w-full.text-right
    = render(RankingPositionComponent.new(ranking_position: @membership_of_user.ranking_position, members_count: @membership_of_user.team.members_count))
