.team.flex.mb-8.px-4.py-8.border.rounded-lg
  .team--name.w-full
    = @membership_with_team.team.name
  .team--ranking-position.w-full.text-right
    = render(RankingPositionComponent.new(ranking_position: @membership_with_team.ranking_position, active_members: @membership_with_team.team.active_members))
