%section#teams.mt-12
  %h2.text-right.text-xs.uppercase.tracking-wider.text-gray-400.mb-1
    = t('shared.teams')
  .section.teams
    = render MembershipOfUserComponent.with_collection(@memberships_of_user)
    .create-team
      = link_to t('teams.actions.new'), new_team_path, class: 'block w-full text-center my-8 px-4 py-8 rounded border-2 border-dashed text-gray-500'
