.border-2.mb-10.overflow-y-auto.rounded-lg.shadow-lg{ class: border_color_class }
  .px-4.py-4.sm:px-6.border-b-2.-mt-1{ class: border_and_bg_color_classes }
    = header
  .p-4
    = body
  .px-4.py-4.sm:px-6.border-t{ class: border_color_class }
    = footer
