.team-membership.flex.p-4.mb-2.border.rounded-lg
  .team-membership--user--nickname{ class: 'w-1/2' }
    = @team_membership.user.nickname
  .team-membership--user--total-points.text-center{ class: 'w-1/4' }
    = @team_membership.user.total_points
  .team-membership--ranking-position.text-center{ class: 'w-1/4' }
    = @team_membership.ranking_position
