- content_for :backlink do
  = render BacklinkComponent.new(name: t('shared.dashboard'), path: dashboard_path)

= render TournamentNavigationComponent.new

.grid.grid-cols-1.gap-4
  = render PredictionComponent.with_collection(@predictions)
