- if total_points.nil?
  %span.animate-pulse.absolute.block.h-3.w-3.transform.rounded-full.bg-red-500{ class: 'transform -translate-y-1/2 -translate-x-1/2'}
- else
  - if total_points.zero?
    .py-1.px-2.rounded-sm.bg-gray-300.text-gray-500
      = total_points
  - else
    .py-1.px-2.rounded-sm.bg-green-500.text-white
      = total_points
