%span.inline-flex.items-center.px-4.py-1.rounded-full.font-medium{ class: GameDecorator.tournament_phase_colors[tournament_phase.to_sym] }
  = Game.human_enum_name(:tournament_phase, tournament_phase)
