- content_for :backlink do
  = render BacklinkComponent.new(name: t('shared.dashboard'), path: dashboard_path)

= render TournamentNavigationComponent.new

.bets-with-game
  = render partial: 'bet_with_game', collection: @bets_with_game
