.landing-page.text-center
  %h1.moving We are back!

  %p.mt-4.text-gray-400.text-sm
    (Was about time.)

  .mt-16.text-2xl
    Tippkick is back for
    %br
    UEFA Euro
    %del
      2020
    = succeed '.' do
      %ins 2021

  .my-16
    = link_to 'Sign up now!', new_user_registration_path, class: 'text-xl p-4 bg-pink-300 rounded-xl text-pink-900 shadow-xl hover:bg-pink-400 hover:text-pink-100 transition block'
    .mt-5.text-sm.text-gray-600
      = link_to 'Sign in', new_user_session_path, class: 'text-pink-400 hover:text-pink-400 transition'
      if you already have an account.

  %h2.mt-16.text-3xl Why join?

  %section#why-join.py-5
    %ul.divide-y.divide-pink-50
      %li.pb-8
        .font-bold It's fun!
        %ul
          %li.py-3 Invite friends to your own teams.
          %li.py-3 Compare points among each other.
          %li.py-3 Make fun of friends who have less points than you.
          %li.py-3 Argue with friends who have more points than you.
          %li.py-3 Make fun of everyone if you are the GLOBAL LEADER!

      %li.py-8
        .font-bold It's free!
        %ul
          %li.py-3 For real! We don't sell or give away your data either.

      %li.pt-8
        .font-bold It's fair!
        %ul
          %li.py-3 We care about privacy!
          %li.py-3 The app's code is Open Source!
          %li.py-3 We delete all data 1 month after the tournament. Promised.
          %li.py-3
            = link_to 'Read more', about_path, class: 'text-pink-400 hover:text-pink-500 transition'
