%h1= t('shared.dashboard')

.grid.grid-cols-1.gap-10.sm:grid-cols-2
  %section#teams
    = render DashboardRankingComponent.new(current_user)
  %section#predictions
    = render DashboardPredictionsComponent.new(current_user)
  %section#profile
    = render DashboardProfileComponent.new
