.invitation-link--label {
  @apply block text-xs text-gray-600 tracking-wide mb-1;
}

.invitation-link--input-field {
  @apply flex-1 min-w-0 block w-full px-3 py-2 border-2 border-pink-200 rounded-none rounded-l-md focus:ring-pink-200 focus:border-pink-200 sm:text-sm;
}

.invitation-link--button {
  @apply inline-flex items-center px-3 rounded-r-md border-2 border-l-0 border-pink-200 text-sm bg-pink-100 hover:bg-pink-300 hover:border-pink-300 transition;
}

.invitation-link--copied {
  @apply ml-2 mt-2 text-xs text-green-500;
}

@keyframes fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}

.fade-out {
  animation: fade-out ease 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
